In [1]:
import pandas as pd

### Create csv file with `pd.read_csv()` methods

In [2]:
df = pd.read_csv('../data/ZILL-Z77006_3B.csv')
df.head()

         Date     Value
0  2016-09-30  465600.0
1  2016-08-31  470100.0
2  2016-07-31  474500.0
3  2016-06-30  480900.0
4  2016-05-31  491400.0

### notice that the index is not proper, so I fix the issue by set the index as Date column

In [3]:
df.set_index('Date', inplace=True)

In [4]:
df.to_csv("../data/new_csv.csv")

### we can assign the index as Date column while reading the data with value `index_col=column_name` or `index_col=in`

In [5]:
df = pd.read_csv('../data/ZILL-Z77006_3B.csv', index_col="Date")
# df = pd.read_csv('../data/ZILL-Z77006_3B.csv', index_col=0)
df.head()

               Value
Date
2016-09-30  465600.0
2016-08-31  470100.0
2016-07-31  474500.0
2016-06-30  480900.0
2016-05-31  491400.0

### We can also export or write a csv file as follow with `df.to_csv(file_name)`

In [6]:
df.to_csv("../data/export/new_csv.csv")

### set column name as different name

In [7]:
df.columns = ['home_prices']
df.head()

            home_prices
Date
2016-09-30     465600.0
2016-08-31     470100.0
2016-07-31     474500.0
2016-06-30     480900.0
2016-05-31     491400.0

### Remove the header values (columns value) while saving csv file

In [8]:
df.to_csv("../data/export/new_csv2.csv", header=False)

### if the names of the columns is missing fix the issue by assign the names by using `names=`

In [9]:
df = pd.read_csv("../data/export/new_csv2.csv", names=['Date', 'home_prices'], index_col=0)
df.head()

            home_prices
Date
2016-09-30     465600.0
2016-08-31     470100.0
2016-07-31     474500.0
2016-06-30     480900.0
2016-05-31     491400.0

### we can also export the data as html format using `to_html` method

In [10]:
df.to_html("../data/html/data.html", columns=["home_prices"], 
           col_space=2, 
           header=True, 
           index=True, 
           float_format="%.2f", 
           justify="center",
           border=2)

In [11]:
help(df.to_html)

Help on method to_html in module pandas.core.frame:

to_html(buf: 'FilePath | WriteBuffer[str] | None' = None, columns: 'Sequence[Level] | None' = None, col_space: 'ColspaceArgType | None' = None, header: 'bool | Sequence[str]' = True, index: 'bool' = True, na_rep: 'str' = 'NaN', formatters: 'FormattersType | None' = None, float_format: 'FloatFormatType | None' = None, sparsify: 'bool | None' = None, index_names: 'bool' = True, justify: 'str | None' = None, max_rows: 'int | None' = None, max_cols: 'int | None' = None, show_dimensions: 'bool | str' = False, decimal: 'str' = '.', bold_rows: 'bool' = True, classes: 'str | list | tuple | None' = None, escape: 'bool' = True, notebook: 'bool' = False, border: 'int | bool | None' = None, table_id: 'str | None' = None, render_links: 'bool' = False, encoding: 'str | None' = None) -> 'str | None' method of pandas.core.frame.DataFrame instance
    Render a DataFrame as an HTML table.

    Parameters
    ----------
    buf : str, Path or StringIO-like, optional, default None
        Buffer to write to. If None, the output is returned as a string.
    columns : sequence, optional, default None
        The subset of columns to write. Writes all columns by default.
    col_space : str or int, list or dict of int or str, optional
        The minimum width of each column in CSS length units.  An int is assumed to be px units..
    header : bool, optional
        Whether to print column labels, default True.
    index : bool, optional, default True
        Whether to print index (row) labels.
    na_rep : str, optional, default 'NaN'
        String representation of ``NaN`` to use.
    formatters : list, tuple or dict of one-param. functions, optional
        Formatter functions to apply to columns' elements by position or
        name.
        The result of each function must be a unicode string.
        List/tuple must be of length equal to the number of columns.
    float_format : one-parameter function, optional, default None
        Formatter function to apply to columns' elements if they are
        floats. This function must return a unicode string and will be
        applied only to the non-``NaN`` elements, with ``NaN`` being
        handled by ``na_rep``.

        .. versionchanged:: 1.2.0

    sparsify : bool, optional, default True
        Set to False for a DataFrame with a hierarchical index to print
        every multiindex key at each row.
    index_names : bool, optional, default True
        Prints the names of the indexes.
    justify : str, default None
        How to justify the column labels. If None uses the option from
        the print configuration (controlled by set_option), 'right' out
        of the box. Valid values are

        * left
        * right
        * center
        * justify
        * justify-all
        * start
        * end
        * inherit
        * match-parent
        * initial
        * unset.
    max_rows : int, optional
        Maximum number of rows to display in the console.
    max_cols : int, optional
        Maximum number of columns to display in the console.
    show_dimensions : bool, default False
        Display DataFrame dimensions (number of rows by number of columns).
    decimal : str, default '.'
        Character recognized as decimal separator, e.g. ',' in Europe.

    bold_rows : bool, default True
        Make the row labels bold in the output.
    classes : str or list or tuple, default None
        CSS class(es) to apply to the resulting html table.
    escape : bool, default True
        Convert the characters <, >, and & to HTML-safe sequences.
    notebook : {True, False}, default False
        Whether the generated HTML is for IPython Notebook.
    border : int
        A ``border=border`` attribute is included in the opening
        `<table>` tag. Default ``pd.options.display.html.border``.
    table_id : str, optional
        A css id is included in the opening `<table>` tag if specified.
    render_links : bool, default False
        Convert URLs to HTML links.
    encoding : str, default "utf-8"
        Set character encoding.

        .. versionadded:: 1.0

    Returns
    -------
    str or None
        If buf is None, returns the result as a string. Otherwise returns
        None.

    See Also
    --------
    to_string : Convert DataFrame to a string.

In [16]:
! open ../data/html/data.html