### Install pandas matplotlib numpy

In [3]:
! pip install pandas matplotlib numpy
! pip install git+https://github.com/pydata/pandas-datareader.git

Requirement already satisfied: pandas in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (2.0.1)
Requirement already satisfied: matplotlib in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (3.7.1)
Requirement already satisfied: numpy in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Collecting git+https://github.com/pydata/pandas-datareader.git
  Cloning https://github.com/pydata/pandas-datareader.git to /private/var/folders/q2/s37m27f17fqbt4q1sgyzwhfc0000gn/T/pip-req-build-6hi6rwd7
  Running command git clone --filter=blob:none --quiet https://github.com/pydata/pandas-datareader.git /private/var/folders/q2/s37m27f17fqbt4q1sgyzwhfc0000gn/T/pip-req-build-6hi6rwd7
  Resolved https://github.com/pydata/pandas-datareader.git to commit ab26ad2099d6a7bc79447e71d72cdb93d8299b3c
  Preparing metadata (setup.py) ... done
Collecting lxml (from pandas-datareader==0.11.0.dev0+12.gab26ad2)
  Using cached lxml-4.9.2-cp311-cp311-macosx_13_0_arm64.whl
Requirement already satisfied: pandas>=0.23 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas-datareader==0.11.0.dev0+12.gab26ad2) (2.0.1)
Requirement already satisfied: requests>=2.19.0 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas-datareader==0.11.0.dev0+12.gab26ad2) (2.30.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader==0.11.0.dev0+12.gab26ad2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader==0.11.0.dev0+12.gab26ad2) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader==0.11.0.dev0+12.gab26ad2) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from pandas>=0.23->pandas-datareader==0.11.0.dev0+12.gab26ad2) (1.24.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader==0.11.0.dev0+12.gab26ad2) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader==0.11.0.dev0+12.gab26ad2) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader==0.11.0.dev0+12.gab26ad2) (2.0.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from requests>=2.19.0->pandas-datareader==0.11.0.dev0+12.gab26ad2) (2022.12.7)
Requirement already satisfied: six>=1.5 in /Users/harikrishna/Desktop/ml/venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas-datareader==0.11.0.dev0+12.gab26ad2) (1.16.0)
Building wheels for collected packages: pandas-datareader
  Building wheel for pandas-datareader (setup.py) ... done
  Created wheel for pandas-datareader: filename=pandas_datareader-0.11.0.dev0+12.gab26ad2-py3-none-any.whl size=109745 sha256=212e962c859d6ad3dd0fe8dd2719447c3a11ea983cb4f989899d8f507a66e205
  Stored in directory: /private/var/folders/q2/s37m27f17fqbt4q1sgyzwhfc0000gn/T/pip-ephem-wheel-cache-m7m2l70l/wheels/e7/df/c1/32fe5c78ed2f7b2fa29536d97f2d1fc3ab9977d4b34a87ab88
Successfully built pandas-datareader
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-4.9.2 pandas-datareader-0.11.0.dev0+12.gab26ad2

In [32]:
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import style
style.use("ggplot")

### Create an Dict

In [36]:
web_stats = {
    "Day" : [1,2,3,4,5,6],
    "Visitors" : [43, 53, 34, 45, 64, 34],
    "Bounce_Rate" : [65, 72, 62, 64, 54, 66],   
}

### Create a dataframe from dict

In [48]:
df = pd.DataFrame(web_stats)
df

   Day  Visitors  Bounce_Rate
0    1        43           65
1    2        53           72
2    3        34           62
3    4        45           64
4    5        64           54
5    6        34           66

### Get first few rows and last few rows in dataframe

In [39]:
print(df.head())
print(df.tail(3))

   Day  Visitors  Bounce_Rate
0    1        43           65
1    2        53           72
2    3        34           62
3    4        45           64
4    5        64           54
   Day  Visitors  Bounce_Rate
3    4        45           64
4    5        64           54
5    6        34           66

### Create a Dataframe with day column as index

In [41]:
df2 = df.set_index("Day")
df2

     Visitors  Bounce_Rate
Day
1          43           65
2          53           72
3          34           62
4          45           64
5          64           54
6          34           66

### Set the same dataframe index as a column

In [49]:
df.set_index("Day", inplace=True)
df

     Visitors  Bounce_Rate
Day
1          43           65
2          53           72
3          34           62
4          45           64
5          64           54
6          34           66

### Reference columns 

2 way

- using box bracket with columns name
- using dot operate the column

In [54]:
# method 1
df["Visitors"], 

# method 2
df.Visitors # note could't use when the column name have space  like "daily visitors"

Day
1    43
2    53
3    34
4    45
5    64
6    34
Name: Visitors, dtype: int64

### we can also Reference multiple columns by providing like of columns inside a box bracket 

**Note :** 
> df["Visitors",  "Bounce_Rate"]

will cause error

In [59]:
df[["Visitors",  "Bounce_Rate"]]

     Visitors  Bounce_Rate
Day
1          43           65
2          53           72
3          34           62
4          45           64
5          64           54
6          34           66

### Create a list from a column

In [64]:
df.Visitors.to_list()

[43, 53, 34, 45, 64, 34]

### Create an array for multiple columns 

**Note** 
 
> df[["Visitors",  "Bounce_Rate"]].to_list

will create an error bcoz this is multidimention array

In [66]:
import numpy as np 

np.array(df[["Visitors",  "Bounce_Rate"]])

array([[43, 65],
       [53, 72],
       [34, 62],
       [45, 64],
       [64, 54],
       [34, 66]])